*, html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

header {
    background-color: #161146;
}

nav {
    background-color: #9894bb;
}
/*
nav ul li {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid;
}
*/